a {
    text-decoration: none;
}
.abbr {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted #6c757d;
    cursor: help;
    color: var(--bs-body-color);
}
.badge-rating:hover {
    box-shadow: 0 0 0 0.15rem rgb(108 117 125 / 50%)
}
.category-a {
    background-color: rgb(8, 140, 72);
}
.category-b {
    background-color: rgb(95, 186, 113);
}
.category-c {
    background-color: rgb(191, 154, 31);
}