/*
 * SPDX-FileCopyrightText: 2022 XMPP Providers Team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

html {
    scroll-padding-top: 75px;
}
footer {
    background-color: #f0f0f0;
}
a {
    text-decoration: none;
}
.heading-anchor {
    visibility: hidden;
    color:#6c757d;
    position: absolute;
    margin-left: 0.3em;
}
h2:hover .heading-anchor,
h3:hover .heading-anchor,
h4:hover .heading-anchor {
    visibility: visible;
}
article h2 {
    margin-top: 0.8em;
    font-weight: 200;
}
.navbar {
    background-color: #f6f8fa;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.navbar-brand {
    border-radius: 4px;
    margin-left: -0.6rem;
    padding: 5px;
    font-size: var(--bs-body-font-size);
}
.navbar-brand:hover{
    background-color: var(--bs-gray-400);
    color: var(--bs-gray-700) !important;
}
.navbar-brand img {
    min-width: 50px;
    width: 2.5em;
}
.nav-link-external {
    color: #5f859e !important;
}
.nav-link-external:hover {
    color: #45657a !important;
}
.logo {
    background-color: var(--bs-gray-300);
    color: var(--bs-gray-700) !important;
}
.logo-index {
    border-radius: 10px;
    padding: 10px;
}
.abbr {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted #6c757d;
    cursor: help;
    color: #2a2e31;
}
.badge-rating:hover {
    filter: brightness(0.9);
}
.category-a {
    background-color: rgb(67, 150, 57);
}
.category-b {
    background-color: rgb(160, 206, 103);
}
.category-c {
    background-color: rgb(233, 109, 31);
}
.category-d {
    background-color: rgb(217, 16, 30);
}
.provider-category-bg {
    background-color: #fafafa;
}
.address-input {
    border: none;
}
.footer-link {
    color: var(--bs-body-color);
}
.footer-link:hover {
    color: var(--bs-body-color);
    filter: brightness(3.0);
}
.provider-overview {
    white-space: nowrap;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE";
    color: #aaa;
}
table.sortable th:hover {
    cursor: pointer;
    filter: opacity(0.7);
}
.form-check-input[type=checkbox]:hover,
.form-check-label:hover,
.form-check-inline:hover {
    cursor: pointer;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #161616;
        color: #ccc;
    }
    h1, h2, h3, h4, h5, h6 {
        color: rgb(197, 206, 209);
    }
    a {
        color:#518fb9;
    }
    a:hover {
        color:#56a7dd;
    }
    footer {
        background-color: #2a2e31;
    }
    .footer-link {
        color:#ccc;
    }
    .footer-link:hover {
        color: #aaa;
    }
    .table {
        color: #aaa;
        background-color: #363e46;
    }
    .table >tbody>tr:hover>* {
        color: #ccc;
        background-color: #323f47;
    }
    .table tbody, td, tfoot, th, thead, tr {
        border-color: #585858;
    }
    .table-striped>tbody>tr:nth-of-type(odd):hover>* {
        color: #ccc;
        background-color: #323f47;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        color: #aaa;
        background-color: #2d3238
    }
    .navbar {
        background-color: #323f47;
    }
    .navbar-brand {
        color: var(--bs-gray-700) !important;
    }
    .navbar-brand:hover {
        background-color: var(--bs-gray-300);
        color: var(--bs-gray-700) !important;
    }
    .nav-link {
        color: #aaa !important;
    }
    .nav-link:hover {
        color: #ccc !important;
    }
    .nav-link-external {
        color: #518fb9 !important;
    }
    .nav-link-external:hover {
        color: #56a7dd !important;
    }
    .navbar-toggler {
        filter: invert(1);
    }
    .logo {
        background-color: var(--bs-gray-400);
    }
    .accordion-item {
        color: #ccc;
    }
    .accordion-item {
        border-color: #4a5660;
        background-color: #4c4c4c;
    }
    .accordion-button {
        color: #ccc;
        background-color: #2d3238;
    }
    .accordion-button::after {
        filter: contrast(0.1)
    }
    .accordion-button:not(.collapsed) {
        background-color: #32363a;
    }
    .accordion-body {
        background-color: #2a2e31;
    }
    .abbr {
        color: #97a0a8;
    }
    .card {
        background-color:#2d3439;
    }
    .provider-category-bg {
        background-color: #2d3439;
    }
    .form-control {
        color: #ffffff;
        background-color: #363e46;
        border: 1px solid #474f58;
    }
    .form-control:focus {
        color: #ffffff;
        background-color: #363e46;
    }
    .input-group-text {
        color: #ccc;
        background-color: #2a2e31;
        border-color: #323f47;
    }
}
