/*
 * SPDX-FileCopyrightText: 2022 XMPP Providers Team
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

a {
    text-decoration: none;
}
.abbr {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted #6c757d;
    cursor: help;
    color: var(--bs-body-color);
}
.badge-rating:hover {
    box-shadow: 0 0 0 0.15rem rgb(108 117 125 / 50%)
}
.category-a {
    background-color: rgb(67, 150, 57);
}
.category-b {
    background-color: rgb(160, 206, 103);
}
.category-c {
    background-color: rgb(233, 109, 31);
}
.category-d {
    background-color: rgb(217, 16, 30);
}
.footer-link {
    color: var(--bs-body-color);
}
.footer-link:hover {
    color: var(--bs-body-color);
    filter: brightness(3.0);
}