{{ define "main" }}
<div class="container" role="main">
    <div class="row mx-3 my-4 justify-content-center">
        <div class="col-lg-8">
            <h1>{{ .Title }}</h1>
            {{ with .Content }}
                {{ . }}
            {{ end }}
            {{ range .Paginator.Pages }}
                <article class="py-3">
                    <a href="{{ .Permalink }}">
                        <h2 class="h2 fw-bold text-body-secondary">{{ .Title }}</h2>
                        {{ if .Params.subtitle }}
                            <h3>
                                {{ .Params.subtitle }}
                            </h3>
                        {{ end }}
                    </a>
                    <p>
                        {{ partial "post-meta.html" . }}
                    </p>
                    <div>
                        <p>
                            {{ if .Truncated }}
                                {{ .Summary | plainify | htmlUnescape }}<br>
                                <a href="{{ .Permalink }}">[{{ i18n "readMore" }}]</a>
                            {{ else }}
                                {{ .Content }}
                            {{ end }}
                        </p>
                    </div>
                </article>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
