{{ define "main" }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 pb-4">
            <div class="px-4 py-2 my-5 text-center">
                <img class="d-block mx-auto mb-4" alt="XMPP Providers logo" src="/images/xmpp-providers.svg" alt="" width="100">
                <h1 class="display-5 fw-bold">It’s Your Choice</h1>
                <div class="col-lg-8 mx-auto">
                    <p class="lead mb-4">Which XMPP provider suits you best?<br>This website offers a curated list of XMPP providers for you to choose from.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 gap-3" href="#providers" role="button">Browse Providers</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="/apps" role="button">Apps</a>
                    </div>
                </div>
            </div>
            <a id="providers"><h2 class="pb-2">Providers</h2></a>
            <p>Categories describe how well a provider is suited for registration and usage. Providers of categories A and B provide a good chat experience, while C provides an average, and D the least good chat experience.</p>
            <button class="btn btn-sm btn-outline-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filters-collapse" aria-expanded="false" aria-controls="filerts-collapse">
                Filter List&nbsp;&nbsp;<i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="collapse" id="filters-collapse">
                <div class="card card-body pb-0 mb-2">
                    <form action="#">
                        <div id="status-selector" class="pb-2">
                            <div class="d-flex flex-wrap pb-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="free" name="free">
                                    <label class="form-check-label" for="free">Free only</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="professional-hosting" name="professional-hosting">
                                    <label class="form-check-label" for="professional-hosting">Professional hosting only</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <h3 id="category-a" class="pt-4">
                Category&nbsp;
                <span class="badge category-a">A</span>
                <a class="heading-anchor" href="#category-a"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p class="text-muted">
                Providers in this category can be used for a registration without user interaction.
                Users can simply confirm to register on a randomly chosen provider and start to chat right away.
                Those providers must have the best properties and support registrations via XMPP apps.
            </p>
            <div class="accordion pb-5" id="providers-accordion-a">
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "A") }}
            </div>
            <h3 id="category-b">
                Category&nbsp;
                <span class="badge category-b">B</span>
                <a class="heading-anchor" href="#category-b"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p class="text-muted">
                Providers in this category can be used for registration with user interaction.
                Users can select a provider based on individual preferences (e.g., the provider's name).
                Those providers must have the best properties but do only need to support registrations via a web page.
            </p>
            <div class="accordion pb-5" id="providers-accordion-b">
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "B") }}
            </div>
            <h3 id="category-c">
                Category&nbsp;
                <span class="badge category-c">C</span>
                <a class="heading-anchor" href="#category-c"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p class="text-muted">
                Providers in this category can be used for web registrations but do only need to have average properties.
                Those providers should only be offered to users if there is a certain reason for it.
            </p>
            <div class="accordion pb-5" id="providers-accordion-c">
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "C") }}
            </div>
            <h3 id="category-d">
                Category&nbsp;
                <span class="badge category-d">D</span>
                <a class="heading-anchor" href="#category-d"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p class="text-muted">
                Providers in this category cannot, if no registration is supported, or should not, because of bad properties, be used for registrations.
                Those providers should only be used for autocomplete (e.g., while adding a contact).
            </p>
            <div class="accordion pb-5" id="providers-accordion-d">
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "D") }}
            </div>
        </div>
    </div>
</div>

{{ end }}
