{{ define "main" }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 pb-4">
            <div class="px-4 py-2 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="/images/xmpp-providers.svg" alt="" width="100">
                <h1 class="display-5 fw-bold">It’s your choice</h1>
                <div class="col-lg-8 mx-auto">
                    <p class="lead mb-4">Which XMPP provider suits you best?<br>This website offers a curated list of XMPP providers for you to choose from.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 gap-3" href="#providers" role="button">Browse Providers</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="/apps" role="button">Apps</a>
                    </div>
                </div>
            </div>
            <a id="providers"><h2 class="pb-2">Providers</h2></a>
            <button class="btn btn-sm btn-outline-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filters-collapse" aria-expanded="false" aria-controls="filerts-collapse">
                Filter List&nbsp;&nbsp;<i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="collapse" id="filters-collapse">
                <div class="card card-body pb-0 mb-2">
                    <form action="#">
                        <div id="status-selector" class="pb-2">
                            <div class="d-flex flex-wrap pb-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="free" name="free">
                                    <label class="form-check-label" for="free">Free only</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="professional-hosting" name="professional-hosting">
                                    <label class="form-check-label" for="professional-hosting">Professional hosting only</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="accordion" id="providers-accordion">
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "A") }}
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "B") }}
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "C") }}
                {{ partial "provider-list-items.html" (where .Site.Data.providers ".category" "==" "D") }}
            </div>
        </div>
    </div>
</div>

{{ end }}
