{{ define "main" }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 pb-4">
            <div class="px-4 py-2 my-3 text-center">
                <img class="d-block mx-auto mb-4 logo logo-index" alt="XMPP Providers logo" src="/images/xmpp-providers.svg" alt="" width="200">
                <h1 class="display-5 fw-bold">It’s Your Choice</h1>
                <div class="col-lg-8 mx-auto">
                    <p class="lead mb-4">Which XMPP provider suits you best?<br>This website offers a <a href="/about/">curated list of XMPP providers</a> for you to choose from.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 gap-3" href="#providers" role="button">Browse Providers</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="/overview/" role="button">Compare All</a>
                    </div>
                </div>
            </div>
            <a id="providers"><h2 class="pb-2">Providers</h2></a>
            <p>The following <a href="/faq/#how-are-categories-determined">categories</a> describe how well a provider is suited for registration and usage.</p>
            <button id="filter-button" class="btn btn-sm btn-outline-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filters-collapse" aria-expanded="false" aria-controls="filters-collapse">
                Filter List&nbsp;&nbsp;<i class="fa-solid fa-angle-down"></i>
            </button>
            <div class="collapse" id="filters-collapse">
                <div class="card card-body pb-0 mb-2">
                    <p class="text-body-secondary small mb-2">Only checked categories will be shown</p>
                    <form action="#">
                        <div id="status-selector" class="pb-2">
                            <div class="d-flex flex-wrap pb-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="filter_free_of_charge">
                                    <label class="form-check-label" for="filter_free_of_charge">Free of Charge</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="filter_professional_hosting">
                                    <label class="form-check-label" for="filter_professional_hosting">Professional Hosting</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="filter_rating_green_web_check">
                                    <label class="form-check-label" for="filter_rating_green_web_check">Green Hosting</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="filter_in_band_registration">
                                    <label class="form-check-label" for="filter_in_band_registration">Registration via App</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="filter_password_reset">
                                    <label class="form-check-label" for="filter_password_reset">Password Reset</label>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap pb-2">
                                {{ $allServerLocations := slice }}
                                {{ range .Site.Data.filtered_providers }}
                                    {{ range .serverLocations }}
                                        {{ if not (in $allServerLocations .) }}
                                            {{ $allServerLocations = append . $allServerLocations }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                <label for="filter_server_locations" class="form-label">Server Location</label>
                                <select id="filter_server_locations" class="form-select form-select-sm" aria-label="Server Location">
                                    <option selected value="all">All Locations</option>
                                    {{ range $country, $country_code := $.Site.Data.country_codes }}
                                        {{ range $allServerLocations }}
                                            {{ if eq . (lower $country_code) }}
                                                <option value="{{ lower . }}">{{ $country }}</option>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <h3 id="category-a" class="pt-4">
                Category&nbsp;
                <span class="badge rounded-1 category-a">A</span>
                <a class="heading-anchor" href="#category-a"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p>Providers in this category have the best properties, allow you to register via an app and are free of charge.</p>
            <div class="accordion accordion-shadow" id="providers-accordion-a">
                {{ partial "provider-list-items.html" (where .Site.Data.filtered_providers ".category" "==" "A") }}
            </div>
            <div class="pb-5"></div>
            <h3 id="category-b">
                Category&nbsp;
                <span class="badge rounded-1 category-b">B</span>
                <a class="heading-anchor" href="#category-b"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p>Providers in this category have the best properties but may only allow you to register via a web page or are <i>not</i> free of charge.</p>
            <div class="accordion accordion-shadow" id="providers-accordion-b">
                {{ partial "provider-list-items.html" (where .Site.Data.filtered_providers ".category" "==" "B") }}
            </div>
            <div class="pb-5"></div>
            <h3 id="category-c">
                Category&nbsp;
                <span class="badge rounded-1 category-c">C</span>
                <a class="heading-anchor" href="#category-c"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p>Providers in this category have average properties and should only be used if there is a certain reason for it.</p>
            <div class="accordion accordion-shadow" id="providers-accordion-c">
                {{ partial "provider-list-items.html" (where .Site.Data.filtered_providers ".category" "==" "C") }}
            </div>
            <div class="pb-5"></div>
            <h3 id="category-d">
                Category&nbsp;
                <span class="badge rounded-1 category-d">D</span>
                <a class="heading-anchor" href="#category-d"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <p>Providers in this category cannot or should not be used for registration.</p>
            <div class="accordion accordion-shadow" id="providers-accordion-d">
                {{ partial "provider-list-items.html" (where .Site.Data.filtered_providers ".category" "==" "D") }}
            </div>
            <div class="pb-5"></div>
            <div class="text-center">
                <a class="btn btn-secondary" href="/statistics" role="button"><i class="fa-solid fa-chart-pie"></i>&nbsp;View Statistics</a>
            </div>
        </div>
    </div>
</div>

{{ end }}
