<footer class="footer border-top mt-auto py-3">
    <div class="container">
        <div class="row justify-content-center">
            <span class="text-center">
                <a href="https://invent.kde.org/melvo/xmpp-providers/-/blob/master/CONTRIBUTING.md" target="_blank" class="footer-link"><i class="fa-solid fa-plus"></i>&nbsp;Missing a provider?</a>
                &nbsp;&middot;&nbsp;
                <a href="https://github.com/xsf/xmpp-providers-website" target="_blank" class="footer-link"><i class="fa-brands fa-github"></i>&nbsp;Source</a>
                &nbsp;&middot;&nbsp;
                <a href="/contact/" class="footer-link"><i class="fa-regular fa-comment-dots"></i>&nbsp;Contact</a>
                &nbsp;&middot;&nbsp;
                <a href="/blog/index.xml" class="footer-link"><i class="fa-solid fa-rss"></i>&nbsp;News Feed</a>
                &nbsp;&middot;&nbsp;
                <a href="https://fosstodon.org/@xmpp_providers" target="_blank" class="footer-link"><i class="fa-brands fa-mastodon"></i>&nbsp;Mastodon</a>
                &nbsp;&middot;&nbsp;
                <span>Copyright&nbsp;©&nbsp;{{- now.Year -}}</span>
            </span>
        </div>
        <div class="row justify-content-center m-3">
            <span class="text-center text-body-secondary small">
                If you like to support XMPP Providers, please consider making a <a href="https://liberapay.com/xmpp_providers" target="_blank" class="footer-link">donation</a>.
            </span>
        </div>
        <div class="row justify-content-center m-3">
            <span class="text-center text-body-secondary small">
                Unless stated otherwise, the content of the website is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" class="footer-link">Creative Commons Attribution-ShareAlike 4.0 License</a>.
            </span>
        </div>
        <div class="row justify-content-center m-3">
            <span class="text-center text-body-tertiary small">
                Last website build:&nbsp;{{- time.Now | time.Format ":date_medium" -}}&nbsp;({{- time.Now.UTC.Hour -}}:{{- time.Now.UTC.Minute -}}&nbsp;UTC)
                {{ with .GitInfo }}
                    &nbsp;&middot;&nbsp;Last change: <a href="https://github.com/xsf/xmpp-providers-website/commit/{{ .AbbreviatedHash }}" target="_blank" class="small">{{ .AbbreviatedHash }}</a>
                {{ end }}
                &nbsp;&middot;&nbsp;API Version:&nbsp;<code>{{- .Site.Data.api_version.api_version -}}</code>
            </span>
        </div>
    </div>
</footer>
<script src="{{- "js/bootstrap.bundle.min.js" | relURL -}}"></script>
<script src="{{- "js/bootstrap-theme-switcher.js" | relURL -}}"></script>
{{- if ( .Params.overview_table ) -}}
    <script src="{{- "js/datatables.min.js" | relURL -}}"></script>
    <script src="{{- "js/overview-table.js" | relURL -}}"></script>
{{- end -}}
{{- if ( .Params.provider_file_generator ) -}}
    <script src="{{- "js/language-country-codes.js" | relURL -}}"></script>
    <script src="{{- "js/provider-file-generator.js" | relURL -}}"></script>
{{- end -}}
{{- if ( .Params.statistics ) -}}
    <script src="{{- "js/statistics.js" | relURL -}}"></script>
    <script src="{{- "js/echarts.min.js" | relURL -}}"></script>
    <script src="{{- "js/leaflet.js" | relURL -}}"></script>
    <script src="{{- "js/world.geojson.min.js" | relURL -}}"></script>
{{- end -}}
<script src="{{- "js/scripts.js" | relURL -}}"></script>
