<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row justify-content-center">
            <span class="text-center">
                <a href="https://invent.kde.org/melvo/xmpp-providers/-/blob/master/CONTRIBUTING.md" target="_blank" class="footer-link"><i class="fa-solid fa-plus"></i>&nbsp;Missing a provider?</a>
                &nbsp;&middot;&nbsp;
                <a href="https://github.com/xsf/xmpp-providers-website" target="_blank" class="footer-link"><i class="fa-brands fa-github"></i>&nbsp;Source</a>
                &nbsp;&middot;&nbsp;
                <a href="/index.xml" class="footer-link"><i class="fa-solid fa-rss"></i>&nbsp;News Feed</a>
                &nbsp;&middot;&nbsp;
                <a href="https://fosstodon.org/@xmpp_providers" target="_blank" class="footer-link"><i class="fa-brands fa-mastodon"></i>&nbsp;Mastodon</a>
                &nbsp;&middot;&nbsp;
                <span>Copyright&nbsp;©&nbsp;{{- now.Year -}}</span>
            </span>
        </div>
        <div class="row justify-content-center m-3">
            <span class="text-center text-muted small">
                Unless stated otherwise, the content of the website is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" class="footer-link">Creative Commons Attribution-ShareAlike 4.0 License</a>.
            </span>
        </div>
    </div>
</footer>
<script src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>
<script src="{{ "js/sorttable.js" | relURL }}"></script>
<script src="{{ "js/scripts.js" | relURL }}"></script>
