<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{- with $bootstrap := resources.Get "css/bootstrap.min.css" }}
    {{- with $secureBootstrap := $bootstrap | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" type="text/css" href="{{ $bootstrap.Permalink}}" integrity="{{$secureBootstrap.Data.Integrity}}">
    {{- end }}
    {{- end }}
    {{- with $style := resources.Get "css/style.css" | resources.Minify }}
    {{- with $secureStyle := $style | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" integrity="{{$secureStyle.Data.Integrity}}">
    {{- end }}
    {{- end }}
    {{- with $style := resources.Get "fontawesome/css/all.min.css" }}
    {{- with $secureStyle := $style | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" integrity="{{$secureStyle.Data.Integrity}}">
    {{- end }}
    {{- end }}
    <link rel="alternate" type="application/atom" href="/index.xml" title="XMPP Providers" />
    <link rel="canonical" href="{{ .Permalink }}">
    <title>
      {{- if .IsHome }}
      {{- printf "%s" .Site.Title }}
      {{- else }}
      {{- printf "%s | %s" .Site.Title .Title }}
      {{- end }}
    </title>
</head>
