{{ $clients_data := .Site.Data.implementing_clients }}

{{ range $clients_data }}
    {{ if .maintained }}
        <div class="card my-3 shadow-sm" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="{{ .logo }}" class="img-fluid rounded-start p-4 w-100" style="max-width: 15rem;" alt="{{ .name }} logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">{{ .name }}</h4>
                        <p class="card-text text-muted small">{{ .shortdesc }}</p>
                        <ul>
                            <li>
                                <a href="{{ .homepage }}" target="_blank" class="stretched-link">Website</a>
                            </li>
                            <li>
                                Support since version {{ .since }}
                            </li>
                            {{ if .os }}
                                <li>
                                    {{ $len := (len .os) }}
                                    {{ $count := 0 }}
                                    Runs on:
                                    {{ range .os }}
                                        {{- . -}}
                                        {{ $count = add $count 1 }}
                                        {{- if ne $count $len -}}
                                            <span>, </span>
                                        {{- end -}}
                                    {{ end }}
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
