{{ $clients_data := .Site.Data.recommended_clients }}
<p>Do you have questions or suggestions? Just click the button to join our chat!</p>
<div class="row justify-content-center pt-4">
    <div class="col text-center">
        <a class="btn btn-primary mb-2" href="xmpp:providers@muc.xmpp.net?join" role="button">Join XMPP Providers Chat</a>
        <input type="url" class="form-control form-control-sm text-center text-muted address-input" value="xmpp:providers@muc.xmpp.net?join">
    </div>
</div>
<div class="row justify-content-center pt-3">
    <div class="col">
        <p>If this link does not work, you need to install and configure an XMPP app, and visit this page again afterwards.</p>
        <p>For your platform, we recommend one of the following apps.</p>
        <ul id="recommended_clients_list">
            {{ range $os, $clients := $clients_data }}
                {{ range $clients }}
                    <li data-os="{{ $os }}">
                        <b><a href="{{ .website }}" target="_blank">{{ .name }}</a></b> - {{ .text }}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <p>Check the <a href="https://xmpp.org/software/clients.html" target="_blank">full list of XMPP apps</a> for other platforms.</p>
    </div>
</div>
