{{ $provider_name := .Get "provider" }}
{{ $filtered_providers_data := .Site.Data.filtered_providers }}
{{ $provider := where $filtered_providers_data ".jid" "==" $provider_name }}

{{ $providers_data := index .Site.Data.providers $provider_name }}

{{ $permalink := .Page.Permalink }}

{{ $api_version := .Site.Data.api_version.api_version }}

{{ $category_criteria := "" }}
{{ range $index, $data := .Site.Data.results }}
    {{ if eq $index $provider_name }}
        {{ $category_criteria = . }}
    {{ end }}
{{ end }}

{{ range $provider }}

<div class="row justify-content-center pb-4">
    <div class="col-sm-10 pt-3 text-center">
        <span class="text-body-secondary">
            {{ $since_source := $providers_data.since.source }}
            {{ if eq $since_source "" }}
                Listed since
            {{ else }}
                Available since
            {{ end }}
            {{ if .since }}
                {{ .since | dateFormat "Jan 2, 2006" }}
            {{ else }}
                <a href="/faq/#unknown" class="abbr">unknown</a>
            {{ end }}
        </span>
        &nbsp;&middot;&nbsp;
        <i class="fa-solid fa-globe text-body-secondary"></i>
        <span class="text-body-secondary">Website:</span>
        {{ if .website }}
            {{ $len := (len .website) }}
            {{ $count := 0 }}
            {{ range $lang, $address := .website }}
                <a href="{{ $address }}" target="_blank">{{ upper $lang }} <i class="fas fa-xs fa-external-link-alt"></i></a>
                {{ $count = add $count 1 }}
                {{ if ne $count $len }}
                    <span class="text-body-secondary">|</span>
                {{ end }}
            {{ end }}
        {{ else }}
            <a href="/faq/#unknown" class="abbr">unknown</a>
        {{ end }}
    </div>
</div>
{{ if .alternativeJids }}
<div class="row justify-content-center pb-4">
    <div class="col-sm-8 text-center border rounded shadow-sm p-3">
        <p class="text-muted mb-1">Alternative Addresses</p>
        {{ range .alternativeJids }}
            <span class="badge text-bg-secondary opacity-75">{{ . }}</span>
        {{ end }}
    </div>
</div>
{{ end }}
<div class="row justify-content-center">
    <div class="col-md-6 pb-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                <i class="fa-solid fa-hands-holding-circle text-muted"></i> Service
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-dollar-sign px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            {{ if .freeOfCharge }}
                                Cost: Free of charge
                            {{ else }}
                                {{ $freeOfCharge_source := $providers_data.freeOfCharge.source }}
                                {{ if eq $freeOfCharge_source "" }}
                                    Cost: <a href="/faq/#unknown" class="abbr">unknown</a>
                                {{ else }}
                                    Cost: Paid
                                {{ end }}
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-scale-balanced px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            {{ if .legalNotice }}
                                Legal notice:
                                {{ $len := (len .legalNotice) }}
                                {{ $count := 0 }}
                                {{ range $lang, $address := .legalNotice }}
                                    <a href="{{ $address }}" target="_blank">{{ upper $lang }} <i class="fas fa-xs fa-external-link-alt"></i></a>
                                    {{ $count = add $count 1 }}
                                    {{ if ne $count $len }}
                                        <span class="text-body-secondary">|</span>
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                <span class="text-danger text-opacity-75">No legal notice available</span>
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-people-group px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            <a href="/faq/#bus-factor" class="abbr">Bus factor</a>:
                            {{ if eq (int .busFactor) -1 }}
                                <a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ else }}
                                {{ .busFactor }}
                                {{ if eq (int .busFactor) 1 }}
                                    person
                                {{ else }}
                                    persons
                                {{ end }}
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa-regular fa-building px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            Organization:
                            {{ if .organization }}
                                {{ .organization | strings.FirstUpper }}
                            {{ else }}
                                <a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ end }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 pb-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                <i class="fa-solid fa-server text-muted"></i> Server
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-location-dot px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            Server / Data
                            {{ if lt (len .serverLocations) 2 }}
                                location:
                            {{ else }}
                                locations:
                            {{ end }}
                            {{ if .serverLocations }}
                                {{ $len := (len .serverLocations) }}
                                {{ $count := 0 }}
                                {{ range $index, $location := .serverLocations }}
                                    <span title="{{ upper $location }}" data-bs-toggle="tooltip">
                                        {{ range split (upper $location) "" }}
                                            {{- printf "%c" (delimit . "" | int | add 127397) -}}
                                        {{ end }}
                                    </span>
                                    {{ $count = add $count 1 }}
                                    {{ if ne $count $len }}
                                        <span class="text-body-secondary">|</span>
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                <a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-database px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            {{ if .professionalHosting }}
                                <a href="/faq/#professional-hosting" class="abbr">Professional hosting</a>
                            {{ else }}
                                {{ $professionalHosting_source := $providers_data.professionalHosting.source }}
                                {{ if eq $professionalHosting_source "" }}
                                    <a href="/faq/#professional-hosting" class="abbr">Professional hosting</a>: <a href="/faq/#unknown" class="abbr">unknown</a>
                                {{ else }}
                                    No <a href="/faq/#professional-hosting" class="abbr">professional hosting</a>
                                {{ end }}
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-leaf px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            {{ if .ratingGreenWebCheck }}
                                {{ $url := index (last 1 (split $providers_data.ratingGreenWebCheck.source "/")) 0 }}
                                <a href="https://www.thegreenwebfoundation.org/green-web-check/?url={{ $url }}" target="_blank">Green hosting <i class="fas fa-xs fa-external-link-alt"></i></a>
                            {{ else }}
                                No <a href="/faq/#green-hosting" class="abbr">green hosting</a>
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-terminal px-2 text-body-secondary"></i>
                        </td>
                        <td>
                            {{ if .serverSoftwareName }}
                                Server software:&nbsp;<span class="d-block text-wrap" style="max-width: 14rem;">{{ .serverSoftwareName }} {{ .serverSoftwareVersion }}</span>
                            {{ else }}
                                Server software:&nbsp;<a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ end }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-10 p-4 mb-4 rounded shadow provider-details-bg">
        <div class="d-flex align-items-center">
            <h4>Account</h4>
            {{ if and (not .inBandRegistration) (not .registrationWebPage) }}
                <span class="badge rounded-pill text-bg-secondary mx-3">Registration closed</span>
            {{ end }}
        </div>
        <table class="mb-4">
            <tr>
                <td class="text-center">
                    <i class="fa-solid fa-pen px-2 text-body-secondary"></i>
                </td>
                <td>
                    {{ if .inBandRegistration }}
                        You can register on this provider directly via:
                        <ul class="mb-1">
                            <li>
                                <a href="/apps/">a supported app</a>
                            </li>
                            <li>
                                <a href="xmpp:{{ $provider_name }}?register">your app</a> (if supported)
                            </li>
                        </ul>
                    {{ end }}
                    {{ if .registrationWebPage }}
                        You can register on this provider via a web browser&nbsp;
                        {{ if eq (len .registrationWebPage) 1 }}
                            <br>
                            {{ range $lang, $address := .registrationWebPage }}
                                <a class="btn btn-secondary btn-sm" href="{{ $address }}" target="_blank">
                                    Register ({{ upper $lang }}) <i class="fas fa-xs fa-external-link-alt"></i>
                                </a>
                            {{ end }}
                        {{ else if gt (len .registrationWebPage) 1 }}
                            <div class="dropdown">
                                <button id="register-dropdown-button" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Register
                                </button>
                                <ul id="register-dropdown-menu" class="dropdown-menu" aria-labelledby="register-dropdown-button">
                                    {{ range $lang, $address := .registrationWebPage }}
                                        <li><a class="dropdown-item" href="{{ $address }}" target="_blank">Register ({{ upper $lang }}) <i class="fas fa-xs fa-external-link-alt"></i></a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                    {{ end }}
                    {{ if and (not .inBandRegistration) (not .registrationWebPage) }}
                        You cannot register on this provider (at any time)
                    {{ end }}
                </td>
            </tr>
            {{ if .inBandRegistration }}
              <tr>
                  <td class="text-center">
                      <i class="fa-solid fa-envelope-circle-check px-2 text-body-secondary"></i>
                  </td>
                  <td>
                      {{ if .inBandRegistrationEmailAddressRequired }}
                          An email address is required for registration via XMPP apps
                      {{ else }}
                          An email address is <i>not</i> required for registration via XMPP apps
                      {{ end }}
                  </td>
              </tr>
              <tr>
                  <td class="text-center">
                      <i class="fa-solid fa-robot px-2 text-body-secondary"></i>
                  </td>
                  <td>
                      {{ if .inBandRegistrationCaptchaRequired }}
                          A <a class="abbr" href="https://en.wikipedia.org/wiki/CAPTCHA" target="_blank">CAPTCHA <i class="fas fa-xs fa-external-link-alt"></i></a> must be solved for registration via XMPP apps
                      {{ else }}
                          No <a class="abbr" href="https://en.wikipedia.org/wiki/CAPTCHA" target="_blank">CAPTCHA <i class="fas fa-xs fa-external-link-alt"></i></a> must be solved for registration via XMPP apps
                      {{ end }}
                  </td>
              </tr>
            {{ end }}
            <tr>
                <td class="text-center">
                    <i class="fa-solid fa-key px-2 text-body-secondary"></i>
                </td>
                <td>
                    {{ if .passwordReset }}
                        You can reset your password:
                        {{ $len := (len .passwordReset) }}
                        {{ $count := 0 }}
                        {{ range $lang, $address := .passwordReset }}
                            <a href="{{ $address }}" target="_blank">{{ upper $lang }} <i class="fas fa-xs fa-external-link-alt"></i></a>
                            {{ $count = add $count 1 }}
                            {{ if ne $count $len }}
                                <span class="text-body-secondary">|</span>
                            {{ end }}
                        {{ end }}
                    {{ else }}
                        You <em>cannot</em> reset your password
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <i class="fa-solid fa-clock-rotate-left px-2 text-body-secondary"></i>
                </td>
                <td>
                    {{ if eq (string .maximumMessageArchiveManagementStorageTime) "-1" }}
                        Messages are <a href="/faq/#storage" class="abbr">stored</a> for an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                    {{ else if eq (string .maximumMessageArchiveManagementStorageTime) "0" }}
                        Messages are <a href="/faq/#storage" class="abbr">stored</a> for an unlimited time
                    {{ else }}
                        Messages are <a href="/faq/#storage" class="abbr">stored</a> for {{ .maximumMessageArchiveManagementStorageTime }} days
                    {{ end }}
                </td>
            </tr>
        </table>
        <h4>File Sharing (<a href="/faq/#http-upload" class="abbr">HTTP Upload</a>)</h4>
        <table>
            <tr>
                <td class="text-center">
                    <i class="fa-solid fa-cloud-arrow-up px-2 text-body-secondary"></i>
                </td>
                <td>
                    Allows to share files up to
                    {{ if eq (string .maximumHttpFileUploadFileSize) "-1" }}
                        an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                    {{ else if eq (string .maximumHttpFileUploadFileSize) "0" }}
                        an unlimited size
                    {{ else }}
                        {{ if ge .maximumHttpFileUploadFileSize 1000000 }}
                            {{ div .maximumHttpFileUploadFileSize 1000000 | lang.FormatNumber 1 }} TB
                        {{ else if and (ge .maximumHttpFileUploadFileSize 1000) (lt .maximumHttpFileUploadFileSize 1000000) }}
                            {{ div .maximumHttpFileUploadFileSize 1000 | lang.FormatNumber 1 }} GB
                        {{ else }}
                            {{ .maximumHttpFileUploadFileSize }} MB
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <i class="fa-solid fa-cloud-arrow-down px-2 text-body-secondary"></i>
                </td>
                <td>
                    Shared files are <a href="/faq/#storage" class="abbr">stored</a> up to
                    {{ if eq (string .maximumHttpFileUploadTotalSize) "-1" }}
                        an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                    {{ else if eq (string .maximumHttpFileUploadTotalSize) "0" }}
                        an unlimited size
                    {{ else }}
                        {{ if ge .maximumHttpFileUploadTotalSize 1000000 }}
                            {{ div .maximumHttpFileUploadTotalSize 1000000 | lang.FormatNumber 1 }} TB
                        {{ else if and (ge .maximumHttpFileUploadTotalSize 1000) (lt .maximumHttpFileUploadTotalSize 1000000) }}
                            {{ div .maximumHttpFileUploadTotalSize 1000 | lang.FormatNumber 1 }} GB
                        {{ else }}
                            {{ .maximumHttpFileUploadTotalSize }} MB
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <i class="fa-solid fa-clock-rotate-left px-2 text-body-secondary"></i>
                </td>
                <td>
                    Shared files are <a href="/faq/#storage" class="abbr">stored</a> for
                    {{ if eq (string .maximumHttpFileUploadStorageTime) "-1" }}
                        an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                    {{ else if eq (string .maximumHttpFileUploadStorageTime) "0" }}
                        an unlimited time
                    {{ else }}
                        {{ .maximumHttpFileUploadStorageTime }} days
                    {{ end }}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-6 pb-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                <i class="fa-solid fa-shield-halved text-muted"></i> Compatibility / Security
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            Compatibility
                        </td>
                        <td class="ps-3">
                            {{ if .ratingXmppComplianceTester }}
                                <a href="https://compliance.conversations.im/server/{{ .jid }}/" class="badge badge-rating text-light text-decoration-none {{ if gt .ratingXmppComplianceTester 99 }}category-a{{ else if gt .ratingXmppComplianceTester 89 }}category-c{{ else }}category-d{{ end }}" target="_blank">{{ .ratingXmppComplianceTester }}</a>
                            {{ else }}
                                <a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Security (<a href="/faq/#client-to-server" title="Client-to-Server" data-bs-toggle="tooltip" class="abbr">C2S</a>)
                        </td>
                        <td class="ps-3">
                            <a href="/faq/#unknown" class="abbr badge text-light bg-secondary">unknown</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Security (<a href="/faq/#server-to-server" title="Server-to-Server" data-bs-toggle="tooltip" class="abbr">S2S</a>)
                        </td>
                        <td class="ps-3">
                            <a href="/faq/#unknown" class="abbr badge text-light bg-secondary">unknown</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 pb-4">
        <div class="card shadow-sm h-100">
            <div class="card-header">
                <i class="fa-solid fa-address-card text-muted"></i> Contact
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td class="ps-3">
                            {{ if .emailSupport }}
                                {{ $len := (len .emailSupport) }}
                                {{ $count := 0 }}
                                {{ range $lang, $address := .emailSupport }}
                                    {{ range $address }}
                                        <a href="mailto:{{ . }}">{{ upper $lang }}</a>
                                    {{ end }}
                                    {{ $count = add $count 1 }}
                                    {{ if ne $count $len }}
                                        <span class="text-body-secondary">|</span>
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                -
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chat
                        </td>
                        <td class="ps-3">
                            {{ if .chatSupport }}
                                {{ $len := (len .chatSupport) }}
                                {{ $count := 0 }}
                                {{ range $lang, $address := .chatSupport }}
                                    {{ range $address }}
                                        <a href="xmpp:{{ . }}">{{ upper $lang }}</a>
                                    {{ end }}
                                    {{ $count = add $count 1 }}
                                    {{ if ne $count $len }}
                                        <span class="text-body-secondary">|</span>
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                -
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Group chat
                        </td>
                        <td class="ps-3">
                            {{ if .groupChatSupport }}
                                {{ $len := (len .groupChatSupport) }}
                                {{ $count := 0 }}
                                {{ range $lang, $address := .groupChatSupport }}
                                    {{ range $address }}
                                        <a href="xmpp:{{ . }}?join">{{ upper $lang }}</a>
                                    {{ end }}
                                    {{ $count = add $count 1 }}
                                    {{ if ne $count $len }}
                                        <span class="text-body-secondary">|</span>
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                -
                            {{ end }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center pb-3">
    <div class="col-sm-10 p-4 rounded shadow provider-details-bg">
        <div class="row pb-3 text-center">
            <h3>Provider Category</h3>
            <h2><span class="badge {{ if eq .category "A" }}category-a{{ else if eq .category "B" }}category-b{{ else if eq .category "C" }}category-c{{ else }}category-d{{ end }}">{{ .category }}</span></h2>
            <a href="/faq/#how-are-categories-determined" class="abbr small text-body-secondary">Categories explained</a>
        </div>
        {{ if ne .category "A" }}
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <b>Why not category "A"</b>
                    {{ range $category, $data := $category_criteria }}
                        {{ if eq $category "A" }}
                            <ul>
                            {{ $support_address_listed := false }}
                            {{ range $key, $value := $data }}
                                {{ if eq $key "inBandRegistration" }}
                                    <li>
                                        {{ $registration_web_page_available := true }}
                                        {{ range $category, $data := $category_criteria }}
                                            {{ if eq $category "B" }}
                                                {{ range $key, $value := $data }}
                                                    {{ if eq $key "registrationWebPage" }}
                                                        {{ $registration_web_page_available = false }}
                                                    {{ end }}
                                                {{ end }}
                                            {{ end }}
                                        {{ end }}
                                        {{ if not $registration_web_page_available }}
                                            Registration is not available (at any time)
                                        {{ else }}
                                            Registration via XMPP apps is not supported (at any time)
                                        {{ end }}
                                    </li>
                                {{ end }}
                                {{ if eq $key "ratingXmppComplianceTester" }}
                                    <li>
                                        Compatibility is insufficient
                                    </li>
                                {{ end }}
                                {{ if eq $key "ratingImObservatoryClientToServer" }}
                                    <li>
                                        Security (<a href="/faq/#client-to-server" title="Client-to-Server" data-bs-toggle="tooltip" class="abbr">C2S</a>) is insufficient
                                    </li>
                                {{ end }}
                                {{ if eq $key "ratingImObservatoryServerToServer" }}
                                    <li>
                                        Security (<a href="/faq/#server-to-server" title="Server-to-Server" data-bs-toggle="tooltip" class="abbr">S2S</a>) is insufficient
                                    </li>
                                {{ end }}
                                {{ if eq $key "maximumHttpFileUploadFileSize" }}
                                    <li>
                                        {{ if eq (string $value) "-1" }}
                                            Sharing files is allowed up to an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                                        {{ else }}
                                            Sharing files is not allowed up to a size that is large enough
                                        {{ end }}
                                    </li>
                                {{ end }}
                                {{ if eq $key "maximumHttpFileUploadTotalSize" }}
                                    <li>
                                        {{ if eq (string $value) "-1" }}
                                            Shared files are <a href="/faq/#storage" class="abbr">stored</a> up to an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                                        {{ else }}
                                            Shared files are not <a href="/faq/#storage" class="abbr">stored</a> up to a size that is large enough
                                        {{ end }}
                                    </li>
                                {{ end }}
                                {{ if eq $key "maximumHttpFileUploadStorageTime" }}
                                    <li>
                                        {{ if eq (string $value) "-1" }}
                                            Shared files are <a href="/faq/#storage" class="abbr">stored</a> for an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                                        {{ else }}
                                            Shared files are not <a href="/faq/#storage" class="abbr">stored</a> long enough
                                        {{ end }}
                                    </li>
                                {{ end }}
                                {{ if eq $key "maximumMessageArchiveManagementStorageTime" }}
                                    <li>
                                        {{ if eq (string $value) "-1" }}
                                            Messages are <a href="/faq/#storage" class="abbr">stored</a> for an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                                        {{ else }}
                                            Messages are not <a href="/faq/#storage" class="abbr">stored</a> long enough
                                        {{ end }}
                                    </li>
                                {{ end }}
                                {{ if eq $key "professionalHosting" }}
                                    <li>
                                        No professional hosting or <a href="/faq/#unknown" class="abbr">unknown</a>
                                    </li>
                                {{ end }}
                                {{ if eq $key "freeOfCharge" }}
                                    <li>
                                        Not free of charge or <a href="/faq/#unknown" class="abbr">unknown</a>
                                    </li>
                                {{ end }}
                                {{ if eq $key "legalNotice" }}
                                    <li>
                                        Legal notice is missing
                                    </li>
                                {{ end }}
                                {{ if eq $key "serverLocations" }}
                                    <li>
                                        Server location is <a href="/faq/#unknown" class="abbr">unknown</a>
                                    </li>
                                {{ end }}
                                {{ if or (eq $key "emailSupport") (eq $key "chatSupport") (eq $key "groupChatSupport") }}
                                    {{ if not $support_address_listed }}
                                        <li>
                                            No support via XMPP chat or email
                                        </li>
                                        {{ $support_address_listed = true }}
                                    {{ end }}
                                {{ end }}
                                {{ if eq $key "since" }}
                                    <li>
                                        Provider is too young or not listed long enough
                                    </li>
                                {{ end }}
                            {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</div>
<div class="row justify-content-center pt-3">
    <div class="col-sm-10 text-center">
        <a href="{{ .Permalink }}"><img alt="{{ $provider_name }} badge" src="/badge/{{ $provider_name }}.svg"></a>
        <div class="input-group my-3">
            <span class="input-group-text" id="badge-desc">Embed badge</span>
            <input id="badge_link_input" autocomplete="off" type="text" class="form-control form-control-sm font-monospace" aria-label="Badge URL" aria-describedby="badge-desc" value='<a href="{{ $permalink }}"><img alt="{{ $provider_name }} badge" src="https://data.xmpp.net/providers/{{ $api_version}}/badges/{{ $provider_name }}.svg"></a>'>
            <button class="btn btn-secondary" type="button" id="badge_link_copy" title="Copy" data-bs-toggle="tooltip"><i class="fa-solid fa-copy"></i></button>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-auto text-center mx-auto border rounded px-3 py-2 small">
        <i class="fa-solid fa-globe me-2"></i>
        <a href="https://xmppnetwork.goodbytes.im/webgl.html?focus={{- $provider_name -}}" target="_blank">Show this provider in the global XMPP network&nbsp;<i class="fas fa-xs fa-external-link-alt"></i></a>
    </div>
</div>
<div class="row pt-5">
    <p class="text-center text-body-secondary small">
        {{ if strings.Contains $providers_data.website.source ".json" }}
            <i class="fa-regular fa-circle-check text-success"></i>&nbsp;This provider offers a <a href="/faq/#provider-file" class="abbr">Provider File</a>.
        {{ else }}
            <i class="fa-regular fa-circle-xmark text-warning"></i>&nbsp;This provider does not offer a <a href="/faq/#provider-file" class="abbr">Provider File</a>.
        {{ end }}
    </p>
    <p class="text-center text-body-secondary small mb-1">Latest change: {{ if .latestChange }}{{ .latestChange | dateFormat "Jan 2, 2006" }}{{ end }}&nbsp;&middot;&nbsp;<a href="/faq/#where-do-we-have-the-providers-properties-from">Something changed?</a></p>
    <p class="text-center text-body-secondary small">Providers are checked for updates on a daily basis.</p>
</div>
{{ end }}

<div id="copy_toast" class="toast text-bg-success border-0 top-0 start-50 translate-middle-x position-fixed" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Badge copied!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
