{{ $provider_name := .Get "provider" }}
{{ $providers_data := .Site.Data.providers }}
{{ $provider := where $providers_data ".jid" "==" $provider_name }}
{{ $permalink := .Page.Permalink }}

{{ $category_criteria := "" }}
{{ range $index, $data := .Site.Data.results }}
    {{ if eq $index $provider_name }}
        {{ $category_criteria = . }}
    {{ end }}
{{ end }}

<div class="row justify-content-center pb-4">
    <div class="col-sm-10 pt-3 text-center">
        {{ range $provider }}
            <span class="text-muted">
                since 
                {{ if .since }}
                    {{ .since | dateFormat "Jan 2, 2006" }}
                {{ else }}
                    ?
                {{ end }}
            </span>
            &nbsp;&middot;&nbsp;
            <i class="fa-solid fa-globe text-muted"></i>
            <span class="text-muted">Website:</span>
            {{ if .website }}
                {{ $len := (len .website) }}
                {{ $count := 0 }}
                {{ range $lang, $address := .website }}
                    <a href="{{ $address }}" target="_blank">{{ upper $lang }}</a>
                    {{ $count = add $count 1 }}
                    {{ if ne $count $len }}
                        <span class="text-muted">|</span>
                    {{ end }}
                {{ end }}
            {{ else }}
                ?
            {{ end }}
        {{ end }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col">
        {{ range $provider }}
            <h2>Service</h2>
            <table class="mb-4">
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-dollar-sign px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if .freeOfCharge }}
                            Free of charge
                        {{ else }}
                            Paid
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-location-dot px-2 text-muted"></i>
                    </td>
                    <td>
                        Server / Data
                        {{ if lt (len .serverLocations) 2 }}
                            location:
                        {{ else }}
                            locations:
                        {{ end }}
                        {{ if .serverLocations }}
                            {{ $len := (len .serverLocations) }}
                            {{ $count := 0 }}
                            {{ range $index, $location := .serverLocations }}
                                <span title="{{ upper $location }}">
                                    {{ range split (upper $location) "" }}
                                        {{- printf "%c" (delimit . "" | int | add 127397) -}}
                                    {{ end }}
                                </span>
                                {{ $count = add $count 1 }}
                                {{ if ne $count $len }}
                                    <span class="text-muted">|</span>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-scale-balanced px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if .legalNotice }}
                            Legal notice:
                            {{ $len := (len .legalNotice) }}
                            {{ $count := 0 }}
                            {{ range $lang, $address := .legalNotice }}
                                <a href="{{ $address }}" target="_blank">{{ upper $lang }}</a>
                                {{ $count = add $count 1 }}
                                {{ if ne $count $len }}
                                    <span class="text-muted">|</span>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            <span class="text-danger text-opacity-75">No legal notice available</span>
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-people-group px-2 text-muted"></i>
                    </td>
                    <td>
                        <a href="/faq/#bus-factor" class="abbr">Bus factor</a>:
                        {{ if eq (int .busFactor) -1 }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else }}
                            {{ .busFactor }}
                            {{ if eq (int .busFactor) 1 }}
                                person
                            {{ else }}
                                persons
                            {{ end }}
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-database px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if .professionalHosting }}
                            <a href="/faq/#professional-hosting" class="abbr">Professional hosting</a>
                        {{ else }}
                            No professional hosting
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-regular fa-building px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if .company }}
                            Run by a company
                        {{ else }}
                            Run privately
                        {{ end }}
                    </td>
                </tr>
            </table>
            <h2>Account</h2>
            <table class="mb-4">
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-pen px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if .inBandRegistration }}
                            You can register on this provider directly via a <a href="/apps/">supported app</a> or <a href="xmpp:{{ $provider_name }}?register">your app</a> (if supported)
                        {{ end }}
                        {{ if .registrationWebPage }}
                            {{ if .inBandRegistration }}
                                <br>
                            {{ end }}
                            You can register on this provider via a web browser&nbsp;
                            {{ if eq (len .registrationWebPage) 1 }}
                                <br>
                                {{ range $lang, $address := .registrationWebPage }}
                                    <a class="btn btn-secondary btn-sm" href="{{ $address }}" target="_blank">
                                        Register ({{ upper $lang }})
                                    </a>
                                {{ end }}
                            {{ else if gt (len .registrationWebPage) 1 }}
                                <div class="dropdown">
                                    <button id="register-dropdown-button" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Register
                                    </button>
                                    <ul id="register-dropdown-menu" class="dropdown-menu" aria-labelledby="register-dropdown-button">
                                        {{ range $lang, $address := .registrationWebPage }}
                                            <li><a class="dropdown-item" href="{{ $address }}" target="_blank">Register ({{ upper $lang }})</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}
                        {{ end }}
                        {{ if and (not .inBandRegistration) (not .registrationWebPage) }}
                            You cannot register on this provider (at any time)
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-key px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if .passwordReset }}
                            You can reset your password:
                            {{ $len := (len .passwordReset) }}
                            {{ $count := 0 }}
                            {{ range $lang, $address := .passwordReset }}
                                <a href="{{ $address }}" target="_blank">{{ upper $lang }}</a>
                                {{ $count = add $count 1 }}
                                {{ if ne $count $len }}
                                    <span class="text-muted">|</span>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            You <em>cannot</em> reset your password
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-clock-rotate-left px-2 text-muted"></i>
                    </td>
                    <td>
                        {{ if eq (string .maximumMessageArchiveManagementStorageTime) "-1" }}
                            Messages are stored for an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                        {{ else if eq (string .maximumMessageArchiveManagementStorageTime) "0" }}
                            Messages are stored for an unlimited time
                        {{ else }}
                            Messages are stored for {{ .maximumMessageArchiveManagementStorageTime }} days
                        {{ end }}
                    </td>
                </tr>
            </table>
            <h2>File Sharing (<a href="/faq/#http-upload" class="abbr">HTTP Upload</a>)</h2>
            <table class="mb-4">
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-cloud-arrow-up px-2 text-muted"></i>
                    </td>
                    <td>
                        Allows to share files up to
                        {{ if eq (string .maximumHttpFileUploadFileSize) "-1" }}
                            an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                        {{ else if eq (string .maximumHttpFileUploadFileSize) "0" }}
                            an unlimited size
                        {{ else }}
                            {{ .maximumHttpFileUploadFileSize }} MB
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-cloud-arrow-down px-2 text-muted"></i>
                    </td>
                    <td>
                        Shared files are stored up to
                        {{ if eq (string .maximumHttpFileUploadTotalSize) "-1" }}
                            an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                        {{ else if eq (string .maximumHttpFileUploadTotalSize) "0" }}
                            an unlimited size
                        {{ else }}
                            {{ .maximumHttpFileUploadTotalSize }} MB
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <i class="fa-solid fa-clock-rotate-left px-2 text-muted"></i>
                    </td>
                    <td>
                        Stores files for
                        {{ if eq (string .maximumHttpFileUploadStorageTime) "-1" }}
                            an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                        {{ else if eq (string .maximumHttpFileUploadStorageTime) "0" }}
                            an unlimited time
                        {{ else }}
                            {{ .maximumHttpFileUploadStorageTime }} days
                        {{ end }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-sm-6 pb-4">
            <div class="card">
                <div class="card-header">
                    Compatibility / Security
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                Compatibility
                            </td>
                            <td class="ps-3">
                                <a href="https://compliance.conversations.im/server/{{ .jid }}/" class="badge badge-rating text-light text-decoration-none {{ if gt .ratingXmppComplianceTester 99 }}category-a{{ else if gt .ratingXmppComplianceTester 89 }}category-c{{ else }}category-d{{ end }}" target="_blank">{{ .ratingXmppComplianceTester }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Security (<a href="/faq/#client-to-server" title="Client-to-Server" class="abbr">C2S</a>)
                            </td>
                            <td class="ps-3">
                                <a href="https://xmpp.net/result.php?domain={{ .jid }}&type=client" class="badge badge-rating text-light text-decoration-none {{ if eq .ratingImObservatoryClientToServer "A" }}category-a{{ else }}category-d{{ end }}" target="_blank">{{ .ratingImObservatoryClientToServer }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Security (<a href="/faq/#server-to-server" title="Server-to-Server" class="abbr">S2S</a>)
                            </td>
                            <td class="ps-3">
                                <a href="https://xmpp.net/result.php?domain={{ .jid }}&type=server" class="badge badge-rating text-light text-decoration-none {{ if eq .ratingImObservatoryServerToServer "A" }}category-a{{ else }}category-d{{ end }}" target="_blank">{{ .ratingImObservatoryServerToServer }}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pb-4">
            <div class="card">
                <div class="card-header">
                    Support
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                Email
                            </td>
                            <td class="ps-3">
                                {{ if .emailSupport }}
                                    {{ $len := (len .emailSupport) }}
                                    {{ $count := 0 }}
                                    {{ range $lang, $address := .emailSupport }}
                                        {{ range $address }}
                                            <a href="mailto:{{ . }}">{{ upper $lang }}</a>
                                        {{ end }}
                                        {{ $count = add $count 1 }}
                                        {{ if ne $count $len }}
                                            <span class="text-muted">|</span>
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    -
                                {{ end }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Chat
                            </td>
                            <td class="ps-3">
                                {{ if .chatSupport }}
                                    {{ $len := (len .chatSupport) }}
                                    {{ $count := 0 }}
                                    {{ range $lang, $address := .chatSupport }}
                                        {{ range $address }}
                                            <a href="xmpp:{{ . }}">{{ upper $lang }}</a>
                                        {{ end }}
                                        {{ $count = add $count 1 }}
                                        {{ if ne $count $len }}
                                            <span class="text-muted">|</span>
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    -
                                {{ end }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Group chat
                            </td>
                            <td class="ps-3">
                                {{ if .groupChatSupport }}
                                    {{ $len := (len .groupChatSupport) }}
                                    {{ $count := 0 }}
                                    {{ range $lang, $address := .groupChatSupport }}
                                        {{ range $address }}
                                            <a href="xmpp:{{ . }}?join">{{ upper $lang }}</a>
                                        {{ end }}
                                        {{ $count = add $count 1 }}
                                        {{ if ne $count $len }}
                                            <span class="text-muted">|</span>
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    -
                                {{ end }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-3">
        <div class="col-sm-10 p-4 rounded shadow provider-category-bg">
            <div class="row pb-3 text-center">
                <h3>Provider Category</h3>
                <h2><span class="badge {{ if eq .category "A" }}category-a{{ else if eq .category "B" }}category-b{{ else if eq .category "C" }}category-c{{ else }}category-d{{ end }}">{{ .category }}</span></h2>
                <a href="/faq/#how-are-categories-determined" class="abbr small text-muted">Categories explained</a>
            </div>
            {{ if ne .category "A" }}
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <b>Why not category "A"</b>
                        {{ range $category, $data := $category_criteria }}
                            {{ if eq $category "A" }}
                                <ul>
                                {{ $support_address_listed := false }}
                                {{ range $key, $value := $data }}
                                    {{ if eq $key "inBandRegistration" }}
                                        <li>
                                            Registration via XMPP apps is not supported (at any time)
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "ratingXmppComplianceTester" }}
                                        <li>
                                            Compatibility is insufficient
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "ratingImObservatoryClientToServer" }}
                                        <li>
                                            Security (<a href="/faq/#client-to-server" title="Client-to-Server" class="abbr">C2S</a>) is insufficient
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "ratingImObservatoryServerToServer" }}
                                        <li>
                                            Security (<a href="/faq/#server-to-server" title="Server-to-Server" class="abbr">S2S</a>) is insufficient
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "maximumHttpFileUploadFileSize" }}
                                        <li>
                                            {{ if eq (string $value) "-1" }}
                                                Sharing files is allowed up to an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                                            {{ else }}
                                                Sharing files is not allowed up to a size that is large enough
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "maximumHttpFileUploadTotalSize" }}
                                        <li>
                                            {{ if eq (string $value) "-1" }}
                                                Shared files are stored up to an <a href="/faq/#unknown" class="abbr">unknown</a> size or less than 1 MB
                                            {{ else }}
                                                Shared files are not stored up to a size that is large enough
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "maximumHttpFileUploadStorageTime" }}
                                        <li>
                                            {{ if eq (string $value) "-1" }}
                                                Shared files are stored for an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                                            {{ else }}
                                                Shared files are not stored long enough
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "maximumMessageArchiveManagementStorageTime" }}
                                        <li>
                                            {{ if eq (string $value) "-1" }}
                                                Messages are stored for an <a href="/faq/#unknown" class="abbr">unknown</a> time or less than 1 day
                                            {{ else }}
                                                Messages are not stored long enough
                                            {{ end }}
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "professionalHosting" }}
                                        <li>
                                            No professional hosting
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "freeOfCharge" }}
                                        <li>
                                            Not free of charge
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "legalNotice" }}
                                        <li>
                                            Legal notice is missing
                                        </li>
                                    {{ end }}
                                    {{ if eq $key "serverLocations" }}
                                        <li>
                                            Server location is <a href="/faq/#unknown" class="abbr">unknown</a>
                                        </li>
                                    {{ end }}
                                    {{ if or (eq $key "emailSupport") (eq $key "chatSupport") (eq $key "groupChatSupport") }}
                                        {{ if not $support_address_listed }}
                                            <li>
                                                No support via XMPP chat or email
                                            </li>
                                            {{ $support_address_listed = true }}
                                        {{ end }}
                                    {{ end }}
                                    {{ if eq $key "since" }}
                                        <li>
                                            Provider is too young or not listed long enough
                                        </li>
                                    {{ end }}
                                {{ end }}
                                </ul>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    <div class="row justify-content-center pt-3">
        <div class="col-sm-10 text-center">
            <a href="{{ .Permalink }}"><img alt="{{ $provider_name }} badge" src="/badge/{{ $provider_name }}.svg"></a>
            <div class="input-group my-3">
                <span class="input-group-text" id="badge-desc">Embed badge</span>
                <input id="badge_link_input" autocomplete="off" type="text" class="form-control form-control-sm font-monospace" aria-label="Badge URL" aria-describedby="badge-desc" value='<a href="{{ $permalink }}"><img alt="{{ $provider_name }} badge" src="/badge/{{ $provider_name }}.svg"></a>'>
                <button class="btn btn-secondary" type="button" id="badge_link_copy" title="Copy"><i class="fa-solid fa-copy"></i></button>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <p class="text-center text-muted small">Last check: {{ .lastCheck | dateFormat "Jan 2, 2006" }}&nbsp;&middot;&nbsp;<a href="https://invent.kde.org/melvo/xmpp-providers/-/blob/master/CONTRIBUTING.md" target="_blank">Something&nbsp;changed?</a></p>
    </div>
{{ end }}
