<div class="table-responsive">
    <table class="table table-sm table-striped table-hover provider-overview sortable">
        <thead>
            <tr class="small align-top">
                <th>
                    Provider
                </th>
                <th>
                    Last Update
                </th>
                <th>
                    Category
                </th>
                <th>
                    Established
                </th>
                <th>
                    Website
                </th>
                <th>
                    Free of Charge
                </th>
                <th>
                    Server/Data<br>Location(s)
                </th>
                <th>
                    Legal Notice
                </th>
                <th class="sorttable_numeric">
                    Bus Factor
                </th>
                <th>
                    Professional<br>Hosting
                </th>
                <th>
                    Run by a<br>Company
                </th>
                <th>
                    Registration
                </th>
                <th>
                    Password<br>Reset
                </th>
                <th class="sorttable_numeric">
                    Message Storage<br>Duration
                </th>
                <th class="sorttable_numeric">
                    Maximum File<br>Size
                </th>
                <th class="sorttable_numeric">
                    Maximum Total<br>File Size
                </th>
                <th class="sorttable_numeric">
                    File Storage<br>Duration
                </th>
                <th>
                    Compatibility
                </th>
                <th>
                    Security<br>(C2S)
                </th>
                <th>
                    Security<br>(S2S)
                </th>
                <th>
                    Support (Email)
                </th>
                <th>
                    Support (Chat)
                </th>
                <th>
                    Support (Group Chat)
                </th>
            </tr>
        </thead>
        <tbody>
            {{ range sort .Site.Data.providers "category" }}
                <tr>
                    <td>
                        <a href="/provider/{{ .jid }}/">{{ .jid }}</a>
                    </td>
                    <td>
                        {{ .lastCheck | dateFormat "2006-01-02" }}
                    </td>
                    <td>
                        <span class="badge {{ if eq .category "A" }}category-a{{ else if eq .category "B" }}category-b{{ else if eq .category "C" }}category-c{{ else }}category-d{{ end }}">{{ .category }}</span>
                    </td>
                    <td>
                        {{ if .since }}
                            {{ .since | dateFormat "2006-01-02" }}
                        {{ else }}
                            ?
                        {{ end }}
                    </td>
                    <td>
                        {{ if .website }}
                            {{ $len := (len .website) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .website -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{- end -}}
                        {{ else }}
                            ?
                        {{ end }}
                    </td>
                    <td>
                        {{ if .freeOfCharge }}
                            Yes
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if .serverLocations }}
                            {{ $len := (len .serverLocations) }}
                            {{ $count := 0 }}
                            {{ range $index, $location := .serverLocations }}
                                <span title="{{ upper $location }}">
                                    {{ range split (upper $location) "" }}
                                        {{- printf "%c" (delimit . "" | int | add 127397) -}}
                                    {{ end }}
                                </span>
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{ end }}
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .legalNotice }}
                            {{ $len := (len .legalNotice) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .legalNotice -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{- end -}}
                        {{ else }}
                            <span class="text-danger text-opacity-75">No</span>
                        {{ end }}
                    </td>
                    <td>
                        {{ if eq (int .busFactor) -1 }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else }}
                            <span>
                            {{- .busFactor -}}&nbsp;
                            {{- if eq (int .busFactor) 1 -}}
                                person
                            {{- else -}}
                                persons
                            {{- end -}}
                        {{ end }}
                    </td>
                    <td>
                        {{ if .professionalHosting }}
                            Yes
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if .company }}
                            Yes
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if .inBandRegistration }}
                            App
                        {{ end }}
                        {{ if .registrationWebPage }}
                            {{ if .inBandRegistration }}
                                <span class="text-muted">|</span>
                            {{ end }}
                            {{ $len := (len .registrationWebPage) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .registrationWebPage -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{- end -}}
                        {{ end }}
                        {{ if and (not .inBandRegistration) (not .registrationWebPage) }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if .passwordReset }}
                            {{ $len := (len .passwordReset) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .passwordReset -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{- end -}}
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if eq (string .maximumMessageArchiveManagementStorageTime) "-1" }}
                            <a href="/faq#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumMessageArchiveManagementStorageTime) "0" }}
                            unlimited
                        {{ else }}
                            {{ .maximumMessageArchiveManagementStorageTime }} days
                        {{ end }}
                    </td>
                    <td>
                        {{ if eq (string .maximumHttpFileUploadFileSize) "-1" }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumHttpFileUploadFileSize) "0" }}
                            unlimited
                        {{ else }}
                            {{ .maximumHttpFileUploadFileSize }} MB
                        {{ end }}
                    </td>
                    <td>
                        {{ if eq (string .maximumHttpFileUploadTotalSize) "-1" }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumHttpFileUploadTotalSize) "0" }}
                            unlimited
                        {{ else }}
                            {{ .maximumHttpFileUploadTotalSize }} MB
                        {{ end }}
                    </td>
                    <td>
                        {{ if eq (string .maximumHttpFileUploadStorageTime) "-1" }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumHttpFileUploadStorageTime) "0" }}
                            unlimited
                        {{ else }}
                            {{ .maximumHttpFileUploadStorageTime }} days
                        {{ end }}
                    </td>
                    <td>
                        <a href="https://compliance.conversations.im/server/{{ .jid }}/" class="badge badge-rating text-light text-decoration-none {{ if gt .ratingXmppComplianceTester 99 }}category-a{{ else if gt .ratingXmppComplianceTester 89 }}category-c{{ else }}category-d{{ end }}" target="_blank">{{ .ratingXmppComplianceTester }}</a>
                    </td>
                    <td>
                        <a href="https://xmpp.net/result.php?domain={{ .jid }}&type=client" class="badge badge-rating text-light text-decoration-none {{ if eq .ratingImObservatoryClientToServer "A" }}category-a{{ else }}category-d{{ end }}" target="_blank">{{ .ratingImObservatoryClientToServer }}</a>
                    </td>
                    <td>
                        <a href="https://xmpp.net/result.php?domain={{ .jid }}&type=server" class="badge badge-rating text-light text-decoration-none {{ if eq .ratingImObservatoryServerToServer "A" }}category-a{{ else }}category-d{{ end }}" target="_blank">{{ .ratingImObservatoryServerToServer }}</a>
                    </td>
                    <td>
                        {{ if .emailSupport }}
                            {{ $len := (len .emailSupport) }}
                            {{ $count := 0 }}
                            {{ range $lang, $address := .emailSupport }}
                                {{ $lenAddresses := (len $address) }}
                                {{ $countAddress := 0 }}
                                {{- range $address -}}
                                    <a href="mailto:{{ . }}">{{- upper $lang -}}</a>
                                    {{- $countAddress = add $countAddress 1 -}}
                                    {{- if ne $countAddress $lenAddresses -}}
                                        <span class="text-muted">|</span>
                                    {{- end -}}
                                {{- end -}}
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{ end }}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td>
                        {{ if .chatSupport }}
                            {{ $len := (len .chatSupport) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .chatSupport -}}
                                {{ $lenAddresses := (len $address) }}
                                {{ $countAddress := 0 }}
                                {{- range $address -}}
                                    <a href="xmpp:{{ . }}">{{- upper $lang -}}</a>
                                    {{- $countAddress = add $countAddress 1 -}}
                                    {{- if ne $countAddress $lenAddresses -}}
                                        <span class="text-muted">|</span>
                                    {{- end -}}
                                {{- end -}}
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{- end -}}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td>
                        {{ if .groupChatSupport }}
                            {{ $len := (len .groupChatSupport) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .groupChatSupport -}}
                                {{ $lenAddresses := (len $address) }}
                                {{ $countAddress := 0 }}
                                {{- range $address -}}
                                    <a href="xmpp:{{ . }}?join">{{- upper $lang -}}</a>
                                    {{- $countAddress = add $countAddress 1 -}}
                                    {{- if ne $countAddress $lenAddresses -}}
                                        <span class="text-muted">|</span>
                                    {{- end -}}
                                {{- end -}}
                                {{- $count = add $count 1 -}}
                                {{- if ne $count $len -}}
                                    <span class="text-muted">|</span>
                                {{- end -}}
                            {{- end -}}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>