<div class="table-responsive">
    <table class="table table-sm table-striped table-hover provider-overview sortable">
        <thead>
            <tr class="small align-top">
                <th>
                    Provider
                </th>
                <th>
                    Last Update
                </th>
                <th>
                    Category
                </th>
                <th>
                    Established
                </th>
                <th>
                    Website
                </th>
                <th>
                    Free of Charge
                </th>
                <th>
                    Server/Data<br>Location(s)
                </th>
                <th>
                    Legal Notice
                </th>
                <th class="sorttable_numeric">
                    Bus Factor
                </th>
                <th>
                    Professional<br>Hosting
                </th>
                <th>
                    Green<br>Hosting
                </th>
                <th>
                    Organization
                </th>
                <th>
                    Server<br>Software
                </th>
                <th>
                    Registration
                </th>
                <th>
                    <span data-bs-toggle="tooltip" title="Requires an email address for registration">Email<br>required</span>
                </th>
                <th>
                    <span data-bs-toggle="tooltip" title="Requires solving a CAPTCHA during registration">CAPTCHA<br>required</span>
                </th>
                <th>
                    Password<br>Reset
                </th>
                <th class="sorttable_numeric">
                    Message <a href="/faq/#storage" class="abbr">Storage</a><br>Duration
                </th>
                <th class="sorttable_numeric">
                    Maximum<br>File Size
                </th>
                <th class="sorttable_numeric">
                    Maximum Total<br>File Size
                </th>
                <th class="sorttable_numeric">
                    File <a href="/faq/#storage" class="abbr">Storag</a>e<br>Duration
                </th>
                <th>
                    Compatibility
                </th>
                <th>
                    Security<br>(C2S)
                </th>
                <th>
                    Security<br>(S2S)
                </th>
                <th>
                    Support (Email)
                </th>
                <th>
                    Support (Chat)
                </th>
                <th>
                    Support (Group Chat)
                </th>
                <th>
                    Alternative<br>Addresses
                </th>
                <th>
                    Provider
                </th>
            </tr>
        </thead>
        <tbody>
            {{ range sort .Site.Data.filtered_providers "category" }}
                {{ $providers_data := index $.Site.Data.providers .jid }}
                <tr>
                    <td>
                        <a href="/provider/{{ .jid }}/">{{ .jid }}</a>
                    </td>
                    <td>
                        {{ if .latestChange }}{{ .latestChange | dateFormat "2006-01-02" }}{{ end }}
                    </td>
                    <td>
                        <span class="badge {{ if eq .category "A" }}category-a{{ else if eq .category "B" }}category-b{{ else if eq .category "C" }}category-c{{ else }}category-d{{ end }}">{{ .category }}</span>
                    </td>
                    <td>
                        {{ $since_source := $providers_data.since.source }}
                        {{ if .since }}
                            <span title="{{ if eq $since_source "" }}Listed since this date{{ else }}Avaliable since this date{{ end }}" data-bs-toggle="tooltip"
                            >{{ .since | dateFormat "2006-01-02" }}</span>
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .website }}
                            {{ $len := (len .website) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .website -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{- end -}}
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .freeOfCharge }}
                            Yes
                        {{ else }}
                            {{ $freeOfCharge_source := $providers_data.freeOfCharge.source }}
                            {{ if eq $freeOfCharge_source "" }}
                                <a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ else }}
                                Paid
                            {{ end }}
                        {{ end }}
                    </td>
                    <td>
                        {{ if .serverLocations }}
                            {{ $len := (len .serverLocations) }}
                            {{ $count := 0 }}
                            {{ range $index, $location := .serverLocations }}
                                <span title="{{ upper $location }}" data-bs-toggle="tooltip">
                                    {{ range split (upper $location) "" }}
                                        {{- printf "%c" (delimit . "" | int | add 127397) -}}
                                    {{ end }}
                                </span>
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .legalNotice }}
                            {{ $len := (len .legalNotice) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .legalNotice -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{- end -}}
                        {{ else }}
                            <span class="text-danger text-opacity-75">No</span>
                        {{ end }}
                    </td>
                    <td class="text-end">
                        {{ if eq (int .busFactor) -1 }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else }}
                            <span>
                            {{- .busFactor -}}&nbsp;
                            {{- if eq (int .busFactor) 1 -}}
                                person
                            {{- else -}}
                                persons
                            {{- end -}}
                        {{ end }}
                    </td>
                    <td>
                        {{ if .professionalHosting }}
                            <a href="/faq/#professional-hosting" class="abbr">Yes</a>
                        {{ else }}
                            {{ $professionalHosting_source := $providers_data.professionalHosting.source }}
                            {{ if eq $professionalHosting_source "" }}
                                <a href="/faq/#unknown" class="abbr">unknown</a>
                            {{ else }}
                                No
                            {{ end }}
                        {{ end }}
                    </td>
                    <td>
                        {{ if .ratingGreenWebCheck }}
                            {{ $url := index (last 1 (split $providers_data.ratingGreenWebCheck.source "/")) 0 }}
                            <a href="https://www.thegreenwebfoundation.org/green-web-check/?url={{ $url }}" target="_blank">Yes</a>
                        {{ else }}
                            <a href="/faq/#green-hosting" class="abbr">No</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .organization }}
                            {{ .organization | strings.FirstUpper }}
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .serverSoftwareName }}
                            <span class="small">{{ .serverSoftwareName }} {{ .serverSoftwareVersion }}</span>
                        {{ else }}
                            <a href="/faq/#unknown" class="abbr small">unknown</a>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .inBandRegistration }}
                            <a href="xmpp:{{ .jid }}?register">App</a>
                        {{ end }}
                        {{ if .registrationWebPage }}
                            {{ if .inBandRegistration }}
                                <span class="text-body-secondary">|</span>
                            {{ end }}
                            {{ $len := (len .registrationWebPage) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .registrationWebPage -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{- end -}}
                        {{ end }}
                        {{ if and (not .inBandRegistration) (not .registrationWebPage) }}
                            <span class="badge rounded-pill text-bg-secondary">Registration closed</span>
                        {{ end }}
                    </td>
                    <td>
                        {{ if .inBandRegistrationEmailAddressRequired }}
                            Yes
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if .inBandRegistrationCaptchaRequired }}
                            Yes
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td>
                        {{ if .passwordReset }}
                            {{ $len := (len .passwordReset) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .passwordReset -}}
                                <a href="{{ $address }}" target="_blank">{{- upper $lang -}}</a>
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{- end -}}
                        {{ else }}
                            No
                        {{ end }}
                    </td>
                    <td class="text-end"
                        {{ if eq (string .maximumMessageArchiveManagementStorageTime) "-1" }}
                            sorttable_customkey="0"><a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumMessageArchiveManagementStorageTime) "0" }}
                            sorttable_customkey="999999">unlimited
                        {{ else }}
                            sorttable_customkey="{{ .maximumMessageArchiveManagementStorageTime }}">{{ .maximumMessageArchiveManagementStorageTime }} days
                        {{ end }}
                    </td>
                    <td class="text-end"
                        {{ if eq (string .maximumHttpFileUploadFileSize) "-1" }}
                            sorttable_customkey="0"><a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumHttpFileUploadFileSize) "0" }}
                            sorttable_customkey="999999999999">
                            unlimited
                        {{ else }}
                            sorttable_customkey="{{ .maximumHttpFileUploadFileSize }}">
                            {{ if ge .maximumHttpFileUploadFileSize 1048576 }}
                                {{ div .maximumHttpFileUploadFileSize 1048576 | lang.FormatNumber 1 }} TB
                            {{ else if and (ge .maximumHttpFileUploadFileSize 1024) (lt .maximumHttpFileUploadFileSize 1048576) }}
                                {{ div .maximumHttpFileUploadFileSize 1024 | lang.FormatNumber 1 }} GB
                            {{ else }}
                                {{ .maximumHttpFileUploadFileSize }} MB
                            {{ end }}
                        {{ end }}
                    </td>
                    <td class="text-end"
                        {{ if eq (string .maximumHttpFileUploadTotalSize) "-1" }}
                            sorttable_customkey="0"><a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumHttpFileUploadTotalSize) "0" }}
                            sorttable_customkey="999999999999">
                            unlimited
                        {{ else }}
                            sorttable_customkey="{{ .maximumHttpFileUploadTotalSize }}">
                            {{ if ge .maximumHttpFileUploadTotalSize 1048576 }}
                                {{ div .maximumHttpFileUploadTotalSize 1048576 | lang.FormatNumber 1 }} TB
                            {{ else if and (ge .maximumHttpFileUploadTotalSize 1024) (lt .maximumHttpFileUploadTotalSize 1048576) }}
                                {{ div .maximumHttpFileUploadTotalSize 1024 | lang.FormatNumber 1 }} GB
                            {{ else }}
                                {{ .maximumHttpFileUploadTotalSize }} MB
                            {{ end }}
                        {{ end }}
                    </td>
                    <td class="text-end"
                        {{ if eq (string .maximumHttpFileUploadStorageTime) "-1" }}
                            sorttable_customkey="0"><a href="/faq/#unknown" class="abbr">unknown</a>
                        {{ else if eq (string .maximumHttpFileUploadStorageTime) "0" }}
                            sorttable_customkey="999999">unlimited
                        {{ else }}
                            sorttable_customkey="{{ .maximumHttpFileUploadStorageTime }}">{{ .maximumHttpFileUploadStorageTime }} days
                        {{ end }}
                    </td>
                    <td>
                        <a href="https://compliance.conversations.im/server/{{ .jid }}/" class="badge badge-rating text-light text-decoration-none {{ if gt .ratingXmppComplianceTester 99 }}category-a{{ else if gt .ratingXmppComplianceTester 89 }}category-c{{ else }}category-d{{ end }}" target="_blank">{{ .ratingXmppComplianceTester }}</a>
                    </td>
                    <td>
                        <a href="/faq/#unknown" class="abbr badge text-light bg-secondary">unknown</a>
                    </td>
                    <td>
                        <a href="/faq/#unknown" class="abbr badge text-light bg-secondary">unknown</a>
                    </td>
                    <td>
                        {{ if .emailSupport }}
                            {{ $len := (len .emailSupport) }}
                            {{ $count := 0 }}
                            {{ range $lang, $address := .emailSupport }}
                                {{ $lenAddresses := (len $address) }}
                                {{ $countAddress := 0 }}
                                {{- range $address -}}
                                    <a href="mailto:{{ . }}">{{- upper $lang -}}</a>
                                    {{- $countAddress = add $countAddress 1 -}}
                                    {{ if ne $countAddress $lenAddresses }}
                                        <span class="text-body-secondary">/</span>
                                    {{ end }}
                                {{- end -}}
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td>
                        {{ if .chatSupport }}
                            {{ $len := (len .chatSupport) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .chatSupport -}}
                                {{ $lenAddresses := (len $address) }}
                                {{ $countAddress := 0 }}
                                {{- range $address -}}
                                    <a href="xmpp:{{ . }}">{{- upper $lang -}}</a>
                                    {{- $countAddress = add $countAddress 1 -}}
                                    {{ if ne $countAddress $lenAddresses }}
                                        <span class="text-body-secondary">/</span>
                                    {{ end }}
                                {{- end -}}
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{- end -}}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td>
                        {{ if .groupChatSupport }}
                            {{ $len := (len .groupChatSupport) }}
                            {{ $count := 0 }}
                            {{- range $lang, $address := .groupChatSupport -}}
                                {{ $lenAddresses := (len $address) }}
                                {{ $countAddress := 0 }}
                                {{- range $address -}}
                                    <a href="xmpp:{{ . }}?join">{{- upper $lang -}}</a>
                                    {{- $countAddress = add $countAddress 1 -}}
                                    {{ if ne $countAddress $lenAddresses }}
                                        <span class="text-body-secondary">/</span>
                                    {{ end }}
                                {{- end -}}
                                {{- $count = add $count 1 -}}
                                {{ if ne $count $len }}
                                    <span class="text-body-secondary">|</span>
                                {{ end }}
                            {{- end -}}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td>
                        {{ if .alternativeJids }}
                            {{ if gt (len .alternativeJids) 1 }}
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-sm py-0 ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .jid }}-alternative-addresses-collapse" aria-expanded="false" aria-controls="{{ .jid }}-alternative-addresses-collapse">
                                        Show All ({{ len .alternativeJids }})
                                    </button>
                                    <div>
                                        <div class="collapse collapse-horizontal" id="{{ .jid }}-alternative-addresses-collapse">
                                            {{ range .alternativeJids }}
                                                <span class="badge text-bg-secondary opacity-75">{{ . }}</span>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            {{ else }}
                                {{ range .alternativeJids }}
                                    <span class="badge text-bg-secondary opacity-75">{{ . }}</span>
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td>
                        <a href="/provider/{{ .jid }}/">{{ .jid }}</a>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
<div class="text-center pt-4">
    <a class="btn btn-secondary" href="/statistics" role="button"><i class="fa-solid fa-chart-pie"></i>&nbsp;View Statistics</a>
</div>
