<div class="row py-4">
    <div class="col col-md-6 mx-auto text-center">
        <div class="border shadow bg-body-tertiary rounded p-3">
            <span class="display-4 fw-bold">{{ .Site.Data.statistics.total_provider_count }}</span>
            <p class="mb-0">Providers</p>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="provider-categories">
                Provider Categories
                <a class="heading-anchor" href="#provider-categories"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">A provider's <a href="/faq/#how-are-categories-determined"
                    class="abbr">category</a> is determined by its properties.</small>
            <div id="categories_pie_chart_container" style="height:300px;"
                data-values="{{ .Site.Data.statistics.categories_pie_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="history-of-providers">
                History of Providers
                <a class="heading-anchor" href="#history-of-providers"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">This chart shows since when providers are available.</small>
            <div id="since_bar_chart_container" style="height:400px;"
                data-values="{{ .Site.Data.statistics.since_bar_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="bus-factor">
                Bus Factor
                <a class="heading-anchor" href="#bus-factor"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">A provider's <a href="/faq/#bus-factor" class="abbr">bus factor</a> describes the
                minimum number of team members that the service could not survive losing.</small>
            <div id="bus_factor_pie_chart_container" style="height:300px;"
                data-values="{{ .Site.Data.statistics.bus_factor_pie_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="green-hosting">
                Green Hosting
                <a class="heading-anchor" href="#green-hosting"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">Whether a provider's server is <a href="/faq/#green-hosting" class="abbr">hosted
                    green</a>.</small>
            <div id="green_web_check_pie_chart_container" style="height:300px;"
                data-values="{{ .Site.Data.statistics.green_web_check_pie_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="file-sharing">
                File Sharing
                <a class="heading-anchor" href="#file-sharing"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">Maximum file size for a shared file (in Megabytes).</small>
            <div id="file_size_bar_chart_container" style="height:400px;"
                data-values="{{ .Site.Data.statistics.file_size_bar_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="provider-file">
                Providers Offering a Provider File
                <a class="heading-anchor" href="#provider-file"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">A <a href="/faq/#provider-file" class="abbr">provider file</a> allows retrieving
                properties automatically.</small>
            <div id="provider_file_pie_chart_container" style="height:300px;"
                data-values="{{ .Site.Data.statistics.provider_file_pie_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row pb-4">
    <div class="col mx-auto text-center">
        <div class="bg-body-tertiary rounded p-3">
            <h3 id="server-testing">
                Providers Allowing Server Testing
                <a class="heading-anchor" href="#server-testing"><i class="fa-solid fa-link fa-xs"></i></a>
            </h3>
            <small class="text-muted">Whether tests against the provider's server are allowed (e.g., certificate checks
                and uptime monitoring).</small>
            <div id="server_testing_pie_chart_container" style="height:300px;"
                data-values="{{ .Site.Data.statistics.server_testing_pie_chart_data | jsonify }}"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mx-auto text-center">
        <h3 id="provider-distribution">
            Provider Distribution on the Globe
            <a class="heading-anchor" href="#provider-distribution"><i class="fa-solid fa-link fa-xs"></i></a>
        </h3>
        <small class="text-muted">This map shows where servers of providers are distributed in the world.</small>
        <div id="map_container" class="border rounded shadow mt-2" style="height:500px;"
            data-providers="{{ .Site.Data.statistics.server_locations | jsonify }}"></div>
    </div>
</div>

<div id="statistics_details_modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="statistics_details_modal_title" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="statistics_details_modal_body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
